:host {
  display: block;
}

.viewer-wrapper {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 4px;
}

.viewer-header {
  align-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 8px 20px;
  background: rgba(0,0,0,.05);
}

.viewer-header-title {
  flex: 1 1 auto;
}

.viewer-body {
  padding: 20px;
}
