@import '../../variables';

:host {
  .root {
    border-bottom: 2px solid $gray;
    padding-bottom: 16px;
    margin-top: 40px;
  }

  &.zero-margin {
    .root {
      margin-top: 0;
    }
  }
}

.title-primary {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.info-label {
  color: $black;
  font-weight: bolder;
  font-size: .9em;
  margin-right: 8px;
}

.no-content {
  font-family: 'Roboto Condensed', sans-serif;
  font-stretch: condensed;
  font-style: italic;
  font-size: .85em;
}

.data-container {
  margin-left: -16px;
  .d-flex {
    margin-left: 16px;
  }
}

.accent {
  color: $secondary;
  font-weight: bold;
  font-size: 14px;
}

.accent + .accent {
  &::before {
    content: ";";
    margin-right: 4px;
  }
}