<mat-expansion-panel [expanded]="isExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title class="panel-title-space">
      {{ 'publication.titlesPanel.title' | translate }}
      <span class="cardinality-text">
        {{ 'publication.cardinality.mandatory' | translate }}
      </span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <form #titlesForm="ngForm">
    <div *ngFor="let title of collection | orderBy: 'viewOrder'; let i = index; let last = last;"
         class="row">
      <mat-form-field class="col-sm-12 col-md-10">
        <mat-label translate>publication.titlesPanel.value</mat-label>
        <textarea matInput
                  name="publicationTitle-{{i}}-value"
                  rows="2"
                  [(ngModel)]="title.value"
                  [disabled]="disabled"
                  required></textarea>
      </mat-form-field>

      <div *ngIf="!disabled && collection.length > 1"
           class="col-sm-2">
        <button mat-raised-button
                color="warn"
                (click)="remove(i)">
          <i class="material-icons">delete</i>
          {{ 'publication.titlesPanel.removeBtn' | translate }}
        </button>
      </div>

      <div class="col-sm-12 col-md-8">
        <ab-nomenclature-select name="publicationtTitle-{{i}}-type"
                                restUrl="/api/TitleType"
                                placeholder="{{ 'publication.titlesPanel.titleType' | translate }}"
                                [(ngModel)]="title.type"
                                (ngModelChange)="title.typeId = $event?.id"
                                [textTemplate]="translateService.currentLang === translateService.defaultLang ? '{name} ({nameEn})' : '{nameEn}'"
                                [filter]="{searchInForeignNameOnly: translateService.currentLang !== translateService.defaultLang}"
                                [disabled]="disabled"></ab-nomenclature-select>
      </div>

      <div class="col-sm-12 col-md-2">
        <ab-nomenclature-select name="publicationtTitle-{{i}}-language"
                                restUrl="/api/Language"
                                placeholder="{{ 'publication.titlesPanel.language' | translate }}"
                                [(ngModel)]="title.language"
                                (ngModelChange)="title.languageId = $event?.id"
                                [textTemplate]="translateService.currentLang === translateService.defaultLang ? '{name}' : '{nameEn}'"
                                [filter]="{searchInForeignNameOnly: translateService.currentLang !== translateService.defaultLang}"
                                [disabled]="disabled"></ab-nomenclature-select>
      </div>

      <mat-divider *ngIf="!last"
                   class="col-sm-12"
                   style="margin: 15px 0;"></mat-divider>
    </div>
  </form>

  <mat-action-row *ngIf="!disabled">
    <button mat-raised-button
            color="primary"
            (click)="add()">
      <i class="material-icons">add</i>
      {{ 'publication.titlesPanel.addBtn' | translate }}
    </button>
  </mat-action-row>

</mat-expansion-panel>
