:host {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

:host > mat-card {
  width: 550px;
  background: white;
  padding: 1em;
  box-sizing: border-box;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
}

:host form {
  display: flex;
  flex-direction: column;
}
