<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 translate>user.passwordRecovery.title</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form *ngIf="!isSuccess"
          #passwordRecoveryForm="ngForm"
          class="login-form">
      <div class="row">
        <mat-form-field class="form-group col-sm-12">
          <mat-label translate>user.passwordRecovery.newPassword</mat-label>
          <input matInput
                 #newPassword="ngModel"
                 type="password"
                 name="newPassword"
                 [(ngModel)]="model.newPassword"
                 [passwordValidation]="passwordRegex"
                 required />
          <mat-error *ngFor="let error of newPassword.errors | keyvalue">
            {{ 'user.passwordRecovery.errors.' + error.key | translate }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group col-sm-12">
          <mat-label translate>user.passwordRecovery.newPasswordAgain</mat-label>
          <input matInput
                 #newPasswordAgain="ngModel"
                 type="password"
                 name="newPasswordAgain"
                 [(ngModel)]="model.newPasswordAgain"
                 required />
          <mat-error *ngFor="let error of newPassword.errors | keyvalue">
            {{ 'user.passwordRecovery.errors.' + error.key | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <ng-container *ngIf="errors.length">
        <em *ngFor="let error of errors"
            class="error">
          {{ error | translate }}
        </em>
      </ng-container>

      <button mat-raised-button
              color="primary"
              (click)="changePassword()"
              [disabled]="!passwordRecoveryForm.valid">
        {{ 'user.passwordRecovery.changeBtn' | translate }}
      </button>
    </form>

    <div *ngIf="isSuccess">
      <em class="success">
        {{ 'user.passwordRecovery.successMsg' | translate }}
      </em>
    </div>

    <div style="text-align: center; padding: 1em; padding-bottom: 0;">
      <a [routerLink]="['/login']">
        {{ 'user.passwordRecovery.backLink' | translate }}
      </a>
    </div>
  </mat-card-content>
</mat-card>
