<div>
  <h4>{{ 'user.changePasswordModal.title' | translate }}</h4>
</div>

<form #userChangePasswordForm="ngForm">
  <div class="row">
    <mat-form-field class="col-sm-12">
      <mat-label translate>user.changePasswordModal.oldPassword</mat-label>
      <input matInput
             type="password"
             name="oldPassword"
             #oldPassword="ngModel"
             [(ngModel)]="model.oldPassword"
             required>
      <mat-error *ngFor="let error of oldPassword.errors | keyvalue">
        {{ 'user.changePasswordModal.errors.' + error.key | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="col-sm-12">
      <mat-label translate>user.changePasswordModal.newPassword</mat-label>
      <input matInput
             type="password"
             name="newPassword"
             #newPassword="ngModel"
             [(ngModel)]="model.newPassword"
             [passwordValidation]="passwordRegex"
             required>
      <mat-error *ngFor="let error of newPassword.errors | keyvalue">
        {{ 'user.changePasswordModal.errors.' + error.key | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group col-sm-12">
      <mat-label translate>user.changePasswordModal.newPasswordAgain</mat-label>
      <input matInput
             type="password"
             name="newPasswordAgain"
             #newPasswordAgain="ngModel"
             [(ngModel)]="model.newPasswordAgain"
             required>
      <mat-error *ngFor="let error of newPasswordAgain.errors | keyvalue">
        {{ 'user.changePasswordModal.errors.' + error.key | translate }}
      </mat-error>
    </mat-form-field>
  </div>

  <div class="row">
    <div class="col-sm-8 offset-sm-4">

      <button mat-raised-button
              style="margin-right: 1rem;"
              (click)="close()">
        {{ 'user.changePasswordModal.closeBtn' | translate }}
      </button>

      <button mat-raised-button
              color="primary"
              (click)="change()"
              [disabled]="!userChangePasswordForm.form.valid">
        {{ 'user.changePasswordModal.changeBtn' | translate }}
      </button>
    </div>
  </div>
</form>
