<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h2 translate>user.forgottenPassword.title</h2>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form *ngIf="!isSuccess"
          #forgottenPasswordForm="ngForm"
          class="login-form">
      <div class="row">
        <mat-form-field class="form-group col-sm-12">
          <mat-label translate>user.forgottenPassword.mail</mat-label>
          <input matInput
                 name="mail"
                 #mail="ngModel"
                 [(ngModel)]="model.mail"
                 type="email"
                 emailValidation
                 [acceptNull]="true"
                 required />
          <mat-error *ngFor="let error of mail.errors | keyvalue">
            {{ 'user.forgottenPassword.errors.' + error.key | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button
              color="primary"
              (click)="sendForgottenPassword()"
              [disabled]="!forgottenPasswordForm.valid">
        {{ 'user.forgottenPassword.sendForgottenPasswordBtn' | translate }}
      </button>
    </form>

    <div *ngIf="isSuccess">
      <em class="success">
        {{ 'user.forgottenPassword.successMsg' | translate }}
      </em>
    </div>

    <div style="text-align: center; padding: 1em; padding-bottom: 0;">
      <a [routerLink]="['/login']">{{ 'user.forgottenPassword.backLink' | translate }}</a>
    </div>
  </mat-card-content>
</mat-card>
